@page "/"
@inject HttpClient Http

<h3>Cases in Numbers</h3>

@if (Countries == null) {
    <Loading />
} else {
    <p>
        <strong>
            World:
            <span class="confirmed">@Countries.Sum(i => i.Confirmed) Confirmed</span> /
            <span class="recovered">@Countries.Sum(i => i.Recovered) Recovered</span> /
            <span class="deaths">@Countries.Sum(i => i.Deaths) Deaths</span> /
            <span class="current">@Countries.Sum(i => i.Current) Current</span>
        </strong>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Country</th>
                <th class="d-none d-sm-table-cell">Confirmed</th>
                <th class="d-none d-sm-table-cell">Recovered</th>
                <th class="d-none d-sm-table-cell">Deaths</th>
                <th class="d-none d-sm-table-cell">
                    Current
                    (<span class="confirmed">C</span> -
                    <span class="recovered">R</span> -
                    <span class="deaths">D</span>)
                </th>
                <th class="d-table-cell d-sm-none">
                    <span class="confirmed">Confirmed</span> /
                    <span class="recovered">Recovered</span> /
                    <span class="deaths">Deaths</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Countries) {
                <tr>
                    <td><a href="/charts/@country.Name">@country.Name</a></td>
                    <td class="confirmed d-none d-sm-table-cell">@country.Confirmed</td>
                    <td class="recovered d-none d-sm-table-cell">@country.Recovered</td>
                    <td class="deaths d-none d-sm-table-cell">@country.Deaths</td>
                    <td class="current d-none d-sm-table-cell">@country.Current</td>
                    <td class="d-table-cell d-sm-none">
                        <span class="confirmed">@country.Confirmed</span> /
                        <span class="recovered">@country.Recovered</span> /
                        <span class="deaths">@country.Deaths</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    IEnumerable<CountryOverviewDto> Countries;

    protected override async Task OnInitializedAsync() {
        Countries = await Http.GetJsonAsync<IEnumerable<CountryOverviewDto>>(Constants.ApiUrl + "/countries");
    }
}
