@page "/"
@inject HttpClient Http

<h1>Cases in Numbers</h1>

@if (Countries == null) {
    <p><em>Loading...</em></p>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>Country</th>
                <th>Confirmed</th>
                <th>Recovered</th>
                <th>Deaths</th>
                <th>Current<br />(Confirmed - Recovered - Deaths)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var country in Countries.OrderBy(i => i.Name)) {
                <tr>
                    <td><a href="/charts/@country.Name">@country.Name</a></td>
                    <td>@country.CurrentConfirmed</td>
                    <td>@country.CurrentRecovered</td>
                    <td>@country.CurrentDeaths</td>
                    <td>@country.Current</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="py-5">
        <a href="https://github.com/pomber/covid19" target="_blank">Data from Pomber/Covid19</a>
    </div>
}

@code {
    IEnumerable<Country> Countries;

    protected override async Task OnInitializedAsync() {
        Countries = await DataUtility.GetData(Http);
    }
}
